:root {
  --color-black: #111;
  --color-white: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-size: 16px;
}
