:root {
  --color-black: #334;
  --color-black-rgb: 51, 51, 68;
  --color-white: #ccf;
  --color-white-rgb: 204, 204, 255;

  --body-font-family: sans-serif;
  --body-font-weight: 400;

  --size-16: 1rem;
  --size-32: 2rem;

  --site-wrapper: 90rem; /* 1440px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--body-font-family);
  font-size: 16px; /* REM baseline */
  font-weight: var(--body-font-weight);
}

main {
  padding: 4dvh 4dvw;
}

[wrapper] {
  --wrapper-padding: var(--size-32);
  --wrapper-max-width: var(--site-wrapper);

  margin-right: auto;
  margin-left: auto;
  padding-right: var(--wrapper-padding);
  padding-left: var(--wrapper-padding);
  max-width: var(--wrapper-max-width);
}

.header {
  --header-background-color: rgba(var(--color-white-rgb),.08);
  --header-padding: var(--size-16) 0;

  background: var(--header-background-color);
  padding: var(--header-padding);
  position: sticky;
  top: 0;
  z-index: 7;
}

.navigation {
  --nav-display: flex;
  --nav-font-color: var(--color-white);
  --nav-gap: var(--size-16);

  align-items: center;
  display: var(--nav-display);
  gap: var(--nav-gap);

  .navigation__item {
    list-style: none;
  }

  .navigation__link {
    color: var(--nav-font-color);
  }

}
