:root {
  --color-black: #334;
  --color-white: #ccf;

  --body-font-family: sans-serif;
  --body-font-weight: 400;

  --size-16: 1rem;
  --size-32: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--body-font-family);
  font-size: 16px; /* REM baseline */
  font-weight: var(--body-font-weight);
  padding: var(--size-32);
}
