---
import Page from '../components/Page.astro';

const meta = {
  title: "Page Title | Astro + Solid",
  description: "This is a meta description for SEO."
}
---
<Page title={meta.title} description={meta.description}>
  <h1>Astro + Solid</h1>
</Page>
